Repository hinchley2018/learning-ecommerce, pull requests merged in 2024-03, with the labels that each got.

#30 feature/23/get-products-from-mongodb
  README.md
  backend/.env.example
  backend/.gitignore
  backend/constants.js
  backend/db-connection.js
  backend/index.js
  backend/models/productModel.js
  backend/package-lock.json
  backend/package.json
  backend/routes/productRoutes.js
  backend/seed-data.json
Labels: backend

#35 fix warnings, project structure, css warnings
  .github/workflows/frontend.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Product.js
  frontend/src/pages/cart/cart.js
  frontend/src/pages/cart/cart.test.js
  frontend/src/pages/home/home.js
  frontend/src/pages/home/home.test.js
  frontend/src/pages/products/products.js
  frontend/src/pages/products/products.test.js
Labels: bug, enhancement

#39 add: dependencies for setup Swagger Documentation
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/routes/productRoutes.js
  backend/swagger.js
Labels: documentation, backend
